* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("https://images.pexels.com/photos/1031698/pexels-photo-1031698.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-pole {
  background-color: black;
  width: 6px;
  height: 50px;
}
